# Docker ignore file
node_modules/
temp_frontend/node_modules/
temp_frontend/dist/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
*.zip
*.rar
*.pdf
.git/
.gitignore
.gitattributes
.pytest_cache/
test/
